<div class="generic-content">
    <div class="generic-content-inner">
        <h1>Sencha Web Application Manager Documentation</h1>
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Introduction</h2>
                <div class="home-bubble-content">
                    <p>Get started by learning a little bit about Sencha Web Application Manager!</p>
                    <p><a href="./guides/sencha_wam/intro.html">Introduction to Web Application Manager</a></p>
                </div>
                <div class="home-bubble-badge-ct introduction-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>User</h2>
                <div class="home-bubble-content">
                    <p>See your applications from the User perspective.</p>
                    <p><a href="./guides/user/desktop.html">Desktop Client</a></p>
                    <p><a href="./guides/user/ios_client_guide.html">iOS Client</a></p>
                    <p><a href="./guides/user/android_client_guide.html">Android Client</a></p>
                    <p><a href="./guides/user/windows_phone.html">Windows Phone Client</a></p>
                </div>
                <div class="home-bubble-badge-ct user-badge product-page-badge"></div>
            </div>
        </div>

        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Developer</h2>
                <div class="home-bubble-content">
                    <p>Develop your own applications!</p>
                    <p><a href="./guides/developer/intro.html">Introduction to Development</a></p>
                    <p><a href="./guides/developer/integration.html">Integration</a></p>
                    <p><a href="./guides/developer/debug.html">Debugging</a></p>
                    <p><a href="./guides/developer/examples.html">Examples</a></p>
                </div>
                <div class="home-bubble-badge-ct developer-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Administrator</h2>
                <div class="home-bubble-content">
                    <p>Get started with the Sencha Web Application Manager admin tool</p>
                    <p><a href="./guides/administrator/quick_start.html">Getting Started</a></p>
                    <p><a href="./guides/administrator/manager_guide.html">Web Application Manager</a></p>
                    <p><a href="./guides/administrator/ui_customization.html">UI Customization</a></p>
                </div>
                <div class="home-bubble-badge-ct admin-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
