<IfModule mod_expires.c>

# Enable expirations
ExpiresActive On

# Default directive
ExpiresDefault "access plus 1 month"

# My favicon
ExpiresByType image/x-icon "access plus 1 month"

# Images
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
# CSS
ExpiresByType text/css "access plus 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 month"
</IfModule>

Options -Indexes
SetOutputFilter DEFLATE

Options +FollowSymlinks
RewriteEngine on    # Turn on the rewriting engine

### Sencha Latest Releases
RedirectMatch 301 /extjs/latest/(.*)$      /extjs/6.0.2-classic/$1
RedirectMatch 301 /ext/latest/(.*)$        /extjs/6.0.2-classic/$1
RedirectMatch 301 /touch/latest/(.*)$      /touch/2.4/$1

RedirectMatch 301 /extjs/6.0/(.*)$      /extjs/6.0.2-classic/guides/$1

### Sencha Ext JS Documentation
RedirectMatch 301 /ext/?$        /extjs/6.2.0-classic/
RedirectMatch 301 /extjs/?$      /extjs/6.2.0-classic/
RedirectMatch 301 /ext-js/?$     /extjs/6.2.0-classic/
RedirectMatch 301 /extjs5/?$	 /extjs/5.1.3/
RedirectMatch 301 /extjs4/?$	 /extjs/4.2.5/
RedirectMatch 301 /extjs3/?$	 /extjs/3.4.0/

RedirectMatch 301 /ext-js/4-2(.*)$	 /extjs/4.2.5$1
RedirectMatch 301 /ext-js/4-1(.*)$	 /extjs/4.1.3$1
RedirectMatch 301 /ext-js/4-0(.*)$	 /extjs/4.0.7$1
RedirectMatch 301 /ext-js/3-4(.*)$	 /extjs/3.4.0$1
RedirectMatch 301 /ext-js/2-3(.*)$	 /extjs/2.3.0$1
RedirectMatch 301 /ext-js/1-1(.*)$	 /extjs/1.1.0$1

Redirect 301 /getting_started_premium.html  /misc/guides/getting_started_premium.html

RewriteRule ^extjs/6.2/6.2.0-classic/ /extjs/6.2.0-classic/ [L,R=301]
RewriteRule ^extjs/6.0/6.0.2-classic/ /extjs/6.0.2-classic/ [L,R=301]
RewriteRule ^extjs/6.0/6.0.1-classic/ /extjs/6.0.1-classic/ [L,R=301]
RewriteRule ^extjs/6.0/6.0.0-classic/ /extjs/6.0.0-classic/ [L,R=301]

RewriteRule ^extjs/6.2/6.2.0-modern/ /extjs/6.2.0-modern/ [L,R=301]
RewriteRule ^extjs/6.0/6.0.2-modern/ /extjs/6.0.2-modern/ [L,R=301]
RewriteRule ^extjs/6.0/6.0.1-modern/ /extjs/6.0.1-modern/ [L,R=301]
RewriteRule ^extjs/6.0/6.0.0-modern/ /extjs/6.0.0-modern/ [L,R=301]

RewriteRule ^extjs/5.1/5.1.3-apidocs/ /extjs/5.1.3 [L,R=301]
RewriteRule ^extjs/5.1/5.1.2-apidocs/ /extjs/5.1.2 [L,R=301]
RewriteRule ^extjs/5.1/5.1.1-apidocs/ /extjs/5.1.1 [L,R=301]
RewriteRule ^extjs/5.1/5.1.0-apidocs/ /extjs/5.1.0 [L,R=301]

RewriteRule ^extjs/5.0/5.0.1-apidocs/ /extjs/5.0.0 [L,R=301]
RewriteRule ^extjs/5.0/5.0.0-apidocs/ /extjs/5.0.0 [L,R=301]

### Sencha Ext GXT Documentation
RedirectMatch 301 /gxt/3.1.0-beta(.*)$           /gxt/4.x$1
#RedirectMatch 301 /gxt/?$               /gxt/4.x$1
RedirectMatch 301 /extgwt/?$            http://www.sencha.com/gxtdocs/
RedirectMatch 302 /gxt/latest(.*)$	    /gxt/4.x$1
RedirectMatch 301 /gxt/3.1?$            /gxt/3.x$1
RedirectMatch 301 /gxt/3.1/?$           /gxt/3.x/$1
Redirect 301 /gxt/3.1.0-beta/javadoc/index.html   /gxt/3.x/javadoc/gxt-3.1.4/index.html
Redirect 301 /gxt/announcements/release_notes.html    /gxt/latest/announcements/release_notes.html
RedirectMatch 301  ^/gxt/$              /gxt/4.x/
RedirectMatch 301  ^/gxt/4.0.0(.*) /gxt/4.x$1
RedirectMatch 301  ^/gxt/4.0.1(.*) /gxt/4.x$1
RedirectMatch 301  ^/gxt/3.1.4(.*) /gxt/3.x$1

### Cmd
RedirectMatch 301 ^/cmd/6.x/    /cmd
RedirectMatch 301 ^/cmd/5.x/    /cmd

### Sencha Touch API Docs
RedirectMatch 301 /touch/apidocs(.*)$	    /touch/2.4/2.4.2-apidocs$1
RedirectMatch 301 /touch/2.4/apidocs(.*)$ /touch/2.4/2.4.2-apidocs$1

### Sencha Touch Documentation
RedirectMatch 301 /touch/2.4.0(.*)$  /touch/2.4$1
RedirectMatch 301 /touch/?$          /touch/2.4/
RedirectMatch 301 /touch/2-4(.*)$	   /touch/2.4$1
RedirectMatch 301 /touch/2-3(.*)$	   /touch/2.3.1$1
RedirectMatch 301 /touch/2-2(.*)$	   /touch/2.2.1$1
RedirectMatch 301 /touch/2-1(.*)$	   /touch/2.1.1$1
RedirectMatch 301 /touch/2-0(.*)$	   /touch/2.0.2$1
RedirectMatch 301 /touch/1-1(.*)$	   /touch/1.1.1$1

## Sencha Touch Charts Documentation
RedirectMatch 301 /touch-charts/?$         /touch-charts/1.0.1/
RedirectMatch 301 /touch-charts/1-0(.*)$   /touch-charts/1.0.1$1

### Sencha Test
RedirectMatch 301 ^/sencha_test/$                        /sencha_test/index.html
RedirectMatch 301 ^/sencha_test/apidocs/$                /sencha_test/index.html
RedirectMatch 301 ^/sencha_test/apidocs/source(.*)$      /sencha_test/src$1
RedirectMatch 301 ^/sencha_test/apidocs/$                /sencha_test/index.html

### Architect
RedirectMatch 301 ^/architect/3/$  /architect/$1
RedirectMatch 301 ^/architect/3.5/$  /architect/$1
RedirectMatch 301 ^/architect/3/(.*).html$  /architect/guides/$1.html
RedirectMatch 301 ^/architect/3.5/(.*).html$  /architect/guides/$1.html
