<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>JetBrains Plugin</h2>
                <p>JetBrains Plugin integrates Sencha frameworks into all commercial versions of JetBrains IDEs including IntelliJ, WebStorm, PhpStorm, RubyMine, and PyCharm.</p>
                <p><a href="./jetbrains_ide_plugin.html">JetBrains</a></p>
            </div>
            <div class="homeBubble">
                <h2>Visual Studio Plugin</h2>
                <p>Visual Studio Plugin integrates Sencha frameworks into the Enterprise, Professional, and Community editions of Microsoft Visual Studio IDE.</p>
                <p><a href="./visual_studio_ide_plugin.html">Visual Studio</a></p>
            </div>
        </div>
        <div class="homeColumnTwo">
            <div class="homeBubble">
                <h2>Eclipse Plugin</h2>
                <p>Eclipse Plugin integrates Sencha frameworks into the Mars and Luna versions of the Eclipse IDE.</p>
                <p><a href="./eclipse_ide_plugin.html">Eclipse</a></p>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
