@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
    font-family : 'Roboto', sans-serif;
}
pre {
    border-width : 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.da-inline-fiddle-nav-code,
.da-inline-fiddle-nav-fiddle {
    font-family : 'Roboto', sans-serif;
}
.tooltip:after {
    font-family : 'Roboto', sans-serif;
}

#toggleAll, #toggleExamples, .toggle-tree {
    font-size: 22px !important;
    line-height: 21px !important;
    background: transparent;
    margin-left: 14px;
    color: #025b80;
}
.classMeta {
    border-width : 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.da-inline-code-wrap, .da-inline-code-wrap-fiddle {
    height         : auto;
    margin-top     : 0;
    padding-bottom : 0;
    box-shadow     : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.da-inline-fiddle-nav {
    top          : 0;
    border-width : 0;
}
.ace_editor {
    border-width : 0;
}

#tree {
    padding    : 0;
    background :  white;
}
#tree > .toggle-tree {
    display : none;
}
#tree-sub-header {
    display : none;
}
#tree-scroller {
    top: 41px;
}
#react-components-nav-ct .sub-nav-tree,
#react-guides-nav-ct .sub-nav-tree {
    border-bottom : 1px solid #e4e4e4;
}
.sub-nav-header,
#tree-header {
    background-color : #fff;
    padding          : 0 16px;
    color            : #025b80;
    line-height      : 40px;
    /*font-weight      : 700;*/
    letter-spacing   : 1px;
    /*cursor           : pointer;*/
    border-bottom    : 1px solid #e4e4e4;
    position         : relative;
}
.sub-nav-header:hover {
    background-color : #e4e4e4 !important;
}
.sub-nav-header i {
    float       : right;
    line-height : 40px;
    color       : #444;
}
/*.sub-nav-header .fa-chevron-up {
    display : none;
}*/
/*.sub-nav-ct-collapsed {
    background-color : white;
}
.sub-nav-ct-collapsed + div,
.sub-nav-ct-collapsed .fa-chevron-down {
    display : none;
}
.sub-nav-ct-collapsed .fa-chevron-up {
    display : inline-block;
}*/
.sub-nav-tree {
    height: 0;
    overflow: hidden;
}
.sub-nav-tree {
    padding : 0 25px 0 15px;
}
/*#tree-header{
    padding     : 0 25px;
    font-weight : 400;
    height      : 61px;
}*/
#tree-header {
    color : #444;
}
#tree-header input {
    margin-top : 14px;
    width      : 238px;
}
#hide-class-tree {
    top       : -9px;
    color     : #444;
    right     : 11px;
    font-size : 22px;
}
.tree-hidden #hide-class-tree {
    right : 1px;
}
.tree-hidden #tree-header {
    border-bottom-color : transparent;
}
.tree-hidden #tree-header span {
    position      : absolute;
    transform     : rotate(0.25turn);
    -ms-transform : rotate(0.25turn);
    right         : -4px;
    top           : 44px;
}
.private-class-toggle-ct {
    background : whitesmoke;
}
#class-tree-ct {
    background-color : whitesmoke;
}
#react-components-nav-target .tree-node-icon {
    display : none;
}
#react-components-nav-target .tree-leaf {
    padding-left : 28px;
}
#react-components-nav-target .child-nodes-ct {
    padding-left : 16px;
}
#back-to-top {
    border-width : 0;
}
.tooltip-tl-bl:after,
.tooltip-tr-br:after {
    bottom : -32px;
}
.product-name-item {
    -webkit-font-smoothing : antialiased;
}
/* https://material.uplabs.com/posts/material-design-box-shadows */
#product-tree-ct,
#product-version-tree-ct,
#historyConfigPanel,
#search-history-panel,
#back-to-top,
#search-results-ct {
    box-shadow : 0 1px 3px rgba(0,0,0,0.12),
                 0 1px 2px rgba(0,0,0,0.24);
}
.tree-node-collapsed + .child-nodes-ct {
    display : block;
}
.child-nodes-ct {
    height   : 0;
    overflow : hidden;
}
.tree-parent-node {
    position: relative;
}




/*  RIPPLE ANIMATION  */
.ripple-obj {
  height         : 100%;
  pointer-events : none;
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  z-index        : 0;
  fill           : rgba(115, 115, 115, 0.26);
}

.ripple-obj use {
  opacity : 0;
}