#tree {
    padding    : 0;
    background :  white;
}
#tree > .toggle-tree {
    display : none;
}
#tree-sub-header {
    display : none;
}
#tree-scroller {
    top : 40px;
}
#react-components-nav-ct .sub-nav-tree,
#react-guides-nav-ct .sub-nav-tree {
    border-bottom: 2px solid #E4E4E4;
}
.sub-nav-header {
    background-color : white;
    padding          : 4px;
    color            : #025b80;
    padding          : 0 16px;
    line-height      : 40px;
    font-weight      : bold;
    letter-spacing   : 1px;
    cursor           : pointer;
    border-bottom    : 2px solid #E4E4E4;
}
.sub-nav-header:hover {
    background-color : #e4e4e4 !important;
}
.sub-nav-header i {
    float       : right;
    line-height : 40px;
    color       : #444;
}
.sub-nav-header .fa-chevron-up {
    display : none;
}
.sub-nav-ct-collapsed {
    background-color : white;
}
.sub-nav-ct-collapsed + div,
.sub-nav-ct-collapsed .fa-chevron-down {
    display : none;
}
.sub-nav-ct-collapsed .fa-chevron-up {
    display : inline-block;
}
.sub-nav-tree {
    padding : 10px 25px 10px 19px;
}
#tree-header {
    padding-left : 15px;
}
#tree-header input {
    margin-top : 5px;
    width      : 238px;
}
#hide-class-tree {
    top : -6px;
}
.private-class-toggle-ct {
    background : whitesmoke;
}
#class-tree-ct {
    background-color : whitesmoke;
}