.da-badge-button {
    overflow: visible;
}

.da-badgeElCls {
    position: absolute;
    top: -9px;
    right: -16px;
    font-weight: 400;
    padding: 2px 4px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ea682e;
    color: #ea682e;
    min-width: 26px;
    text-align: center;
}