[submodule "modules/sencha-documentation"]
	path = modules/sencha-documentation
	url = git@github.com:sencha/sencha-documentation.git
[submodule "modules/orion"]
	path = modules/orion
	url = git@github.com:sencha/orion.git
[submodule "modules/SDK"]
	path = modules/SDK
	url = git@github.com:extjs/SDK.git
[submodule "modules/SpaceSDK"]
	path = modules/SpaceSDK
	url = git@github.com:sencha/SpaceSDK.git
