DocsApp/build/
/DocsApp/bootstrap.js
/DocsApp/classic.json
/DocsApp/modern.json
/DocsApp/sass/example/bootstrap.json

lib/json/
lib/output/
lib/node_modules/
lib/test/
/DocsApp/bootstrap.css
/DocsApp/sass/example/bootstrap.js

.idea