DocsApp/build/
/DocsApp/bootstrap.js
/DocsApp/classic.json
/DocsApp/modern.json
/DocsApp/sass/example/bootstrap.json

lib/configs/basePaths.json
lib/json/
lib/classic-json/
lib/output/
lib/input/
lib/classic-toolkit-output
lib/*.tmp
lib/node_modules/*
!lib/node_modules/sencha-marked/
!lib/node_modules/sencha-gramophone/
lib/test/
lib/orion-json
lib/orion-output
/DocsApp/bootstrap.css
/DocsApp/sass/example/bootstrap.js

.idea
npm-debug.log
/.brackets.json
/modules/
/localRepos/
/libk/output/
/libk/*.tmp
/libk/node_modules/*
/!libk/node_modules/sencha-marked/
/!libk/node_modules/sencha-gramophone/
/libk/input/
/.vscode/cSpell.json
/.vscode/settings.json
libk/_temp
libk/_temp/tempDoxiCfg.json
cSpell.json
