
DocsApp/bootstrap.js
DocsApp/classic.json
DocsApp/modern.json
DocsApp/sass/example/bootstrap.json
DocsApp/bootstrap.css
DocsApp/sass/example/bootstrap.js

.idea
.project
/modules/
build

.vscode/cSpell.json
.vscode/settings.json
.sencha/.gitignore
.sencha/ide/config.json
.eslintrc.json
sencha-error-*.log

package-lock.json
node_modules
npm-debug.log