.x-grid-item-selected {
    border-top: 1px solid #FB9F76;
    border-bottom: 1px solid #FB9F76;
}

.x-grid-item-selected .x-tree-icon-leaf {
    color: #ea682e;
}

/*.x-grid-item-focused .x-grid-cell-inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none;
    border: 1px solid #FFFFFF;
}*/