<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Introduction</h2>
                <div class="home-bubble-content">
                    <p>Download and install the necessary components to get going with Sencha Cmd</p>
                    <p><a href="http://www.sencha.com/products/sencha-cmd/">Download Sencha Cmd</a></p>
                    <p><a href="./guides/extjs/cmd_app.html">Using Sencha Cmd With Ext JS</a></p>
                    <p><a href="./guides/touch/cmd_app.html">Using Sencha Cmd With Touch</a></p>
                </div>
                <div class="home-bubble-badge-ct introduction-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Native Packaging</h2>
                <div class="home-bubble-content">
                    <p>Sencha Cmd can help you package applications for native devices</p>
                    <p><a href="./guides/cordova_phonegap.html">Cordova and PhoneGap Applications</a></p>
                    <p><a href="http://www.sencha.com/blog/leveraging-phonegap-within-sencha-touch/" target="_blank">PhoneGap and Cordova Integration</a></p>
                </div>
                <div class="home-bubble-badge-ct mobile-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Sencha Cmd Packages</h2>
                <div class="home-bubble-content">
                    <p>Start learning about Sencha Cmd Packages</p>
                    <p><a href="./guides/cmd_packages/cmd_packages.html">Intro to Cmd Packages</a></p>
                    <p><a href="./guides/cmd_packages/cmd_creating_packages.html">Creating Packages</a></p>
                    <p><a href="http://www.sencha.com/blog/understanding-sencha-cmd-packages/" target="_blank">Understanding Sencha Cmd Packages</a></p>
                </div>
                <div class="home-bubble-badge-ct packages-badge product-page-badge"></div>
            </div>
        </div>
        <div class="homeColumnTwo">
            <div class="homeBubble">
                <h2>Core Concepts</h2>
                <div class="home-bubble-content">
                    <p>Learn the basic features of Sencha Cmd</p>
                    <p><a href="./guides/microloader.html">The Microloader</a></p>
                    <p><a href="./guides/workspaces.html">Intro to Cmd Workspaces</a></p>
                    <p><a href="./guides/cmd_packages/cmd_packages.html">Intro to Cmd Packages</a></p>
                </div>
                <div class="home-bubble-badge-ct core-concepts-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Best Practices</h2>
                <div class="home-bubble-content">
                    <p>Avoid common pitfalls and learn best practices</p>
                    <p><a href="./guides/cmd_compiler.html">Compiler-Friendly Code Guidelines</a></p>
                    <p><a href="http://www.sencha.com/blog/using-the-new-app-watch-command-in-sencha-cmd-4/" target="_blank"><em>sencha app watch</em> Command</a></p>
                    <p><a href="http://www.sencha.com/blog/sencha-cmd-enterprise-workflow/" target="_blank">Enterprise App Development Workflow</a></p>
                </div>
                <div class="home-bubble-badge-ct best-practice-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Advanced Sencha Cmd</h2>
                <div class="home-bubble-content">
                    <p>Become a Sencha Cmd Jedi Master</p>
                    <p><a href="./guides/advanced_cmd/cmd_advanced.html">Advanced Sencha Cmd</a></p>
                    <p><a href="./guides/advanced_cmd/cmd_build.html">Inside the App Build Process</a></p>
                    <p><a href="./guides/advanced_cmd/cmd_ant.html">Ant Integration</a></p>
                    <p><a href="./guides/advanced_cmd/cmd_metadata.html">Sencha Cmd Metadata</a></p>
                </div>
                <div class="home-bubble-badge-ct advanced-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
