        <div id="footer">{{{footer}}} Generated on {{{date}}}</a></div>
    </body>
    <script type="text/javascript">
        var ExtL = ExtL || {};
            ExtL.treeData = {{{tree}}};
        </script>
        <script type="text/javascript" src="js/home.js"></script>
        <script>
            if (ExtL.treeData) {
                tree = new TreeView(ExtL.treeData, "tree");
            }
    </script>
</html>