<html>
    <head>
        <title>{{{title}}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        {{{headhtml}}}
        </head>
    <body>
    <div id="header">
            <h1>{{{title}}}</h1>
        <div class="search"><form><input type="text" placeholder="search" id="searchtext"></form></div>
        <div class="resourceLinks">
            <div class="toolbarButton">
                <a href="./index.html">api docs</a>
            <div class="nav-btn-mask"></div>
                </div>
            <div class="toolbarButton">
                <a href="./guides/index.html">guides</a>
                <div class="nav-btn-mask"></div>
                </div>
            <div class="toolbarButton">
                <a href="http://examples.sencha.com/extjs/6.0.0/examples/" target="_blank">examples</a>
                <div class="nav-btn-mask"></div>
                </div>
            </div>
        </div>