<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Sencha Inspector</h2>
                <p>Explore some new approaches to architect-ing your application.</p>
                <p><a href="./guides/installation_setup.html">Installing Inspector</a></p>
                <p><a href="./guides/connecting_example_application.html">Connecting to Demo App</a></p>
                <p><a href="./guides/inspecting_applications.html">Inspection Overview</a></p>
            </div>
        </div>
        <div class="homeColumnTwo">
        </div>
    </div>
    {{> footer}}
</div>
