@include extjs-button-small-ui(
        $ui: 'favorite',
        $glyph-color: #FFCC00
);

@include extjs-button-medium-ui(
        $ui: 'favorite',
        $glyph-color: #FFCC00
);

@include extjs-button-large-ui(
        $ui: 'favorite',
        $glyph-color: #FFCC00
);

@include extjs-button-toolbar-small-ui(
        $ui: 'green',
        $glyph-color: #FFCC00
);

@include extjs-button-toolbar-medium-ui(
        $ui: 'green',
        $glyph-color: #FFCC00
);

@include extjs-button-toolbar-large-ui(
        $ui: 'green',
        $glyph-color: #FFCC00
);