.da-inline-code-wrap,
.da-inline-code-wrap-fiddle {
    height: 300px;
    width: 900px;
    position: relative;
    margin-top: 53px;
    margin-left: 30px;
}

.ace_editor {
    border: 1px solid #D0D0D0;
    position: absolute !important;
    height: 100%;
    width: 100%
}

.da-inline-fiddle-nav {
    position: absolute;
    left: 0px;
    top: -41px;
    background: #171D25;
    width: 100%;
    padding: 14px 0px 7px 4px;
}

.da-inline-fiddle-nav-code,
.da-inline-fiddle-nav-fiddle {
    color: #f0f0f0;
    background: #293240;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding: 8px 22px;
    border: 1px solid #293240;
    border-bottom-width: 0px;
}

.da-inline-fiddle-nav-code:before,
.da-inline-fiddle-nav-fiddle:before {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

.da-inline-fiddle-nav-active {
    color: #171C23;
    background: #E8EEF2;
    border: 1px solid #cfd4d8;
    border-bottom-width: 0px;
}

.da-inline-code-wrap iframe {
    border: 1px solid #d0d0d0;
    height: 100%;
    width: 100%;
}