.da-member-list-ct {
    padding: 20px 0px;
}

.da-member-list-column {
    position: absolute;
}

.da-member-list-item {
    display: block;
    padding: 2px 0px 2px 30px;
    color: #396298;
}

.da-member-list-item-hover {
    background: #E8EDF1;
    cursor: pointer;
}

.da-member-list-item .da-private,
.da-member-list-item .da-readonly,
.da-member-list-item .da-protected,
.da-member-list-item .da-deprecated,
.da-member-list-item .da-removed,
.da-member-list-item .da-template,
.da-member-list-item .da-static,
.da-member-list-item .da-preventable {
    color: white;
    text-transform: uppercase;
    font-size: 8px;
    padding: 0px 4px 1px 4px;
    margin-left: 10px;
    border-radius: 2px;
    font-weight: bold;
}

.da-member-list-item .da-readonly {
    background-color: #A7A7A7;
}

.da-member-list-item .da-private {
    background-color: $private-color;
}

.da-member-list-item .da-protected {
    background-color: $protected-color;
}

.da-member-list-item .da-deprecated {
    background-color: $deprecated-color;
}

.da-member-list-item .da-removed {
    color: $removed-color;
    background-color: transparent;
    border: 1px solid $removed-color;
    text-decoration: line-through;
}

.da-member-list-item .da-template {
    background-color: $template-color;
}

.da-member-list-item .da-preventable {
    background-color: $preventable-color;
}

.da-member-list-item .da-static {
    background-color: $static-color;
}
