.da-member-item {
    padding: 8px 200px 8px 52px;
    border-bottom: 1px solid #e9e9e9;
    max-height: 81px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.da-member-item.x-view-item-focused {
    outline: none !important;
}

.da-member {
    margin: 0px;
}

.da-member-item .da-type {
    color: #919191;
    font-size: 13px;
}

.da-member-item .da-private,
.da-member-item .da-readonly,
.da-member-item .da-protected,
.da-member-item .da-deprecated,
.da-member-item .da-removed,
.da-member-item .da-template,
.da-member-item .da-static,
.da-member-item .da-preventable {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 2px 6px;
    margin-left: 10px;
    border-radius: 2px;
}

.da-member-item .da-readonly {
    background-color: #A7A7A7;
}

.da-member-item .da-private {
    background-color: $private-color;
}

.da-member-item .da-protected {
    background-color: $protected-color;
}

.da-member-item .da-deprecated {
    background-color: $deprecated-color;
}

.da-member-item .da-removed {
    color: $removed-color;
    background-color: transparent;
    border: 1px solid $removed-color;
    text-decoration: line-through;
}

.da-member-item .da-template {
    background-color: $template-color;
}

.da-member-item .da-preventable {
    background-color: $preventable-color;
}

.da-member-item .da-static {
    background-color: $static-color;
}

.da-expander-toggle {
    position: absolute;
    background-color: #293240;
    border-right: 2px solid #171D25;
    width: 25px;
    left: 4px;
    top: 0px;
    bottom: 0px;
    cursor: pointer;
}

.da-expander-toggle:hover {
    background-color: #485467;
    border-color: #28303C;
}

.da-expander-toggle.x-fa:before {
    position: absolute;
    color: #A1A7B1;
    font-size: 16px;
    line-height: 16px;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
}

.da-expander-toggle.x-fa:hover:before {
    color: white;
}

/* is collapsed */
.da-member-detail {
    height: 30px;
    font-weight: 400;
    overflow: hidden;
}

/* is collapsed */
.da-member-text,
.da-member-text p {
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Expanded member items */
.da-member-expanded.da-member-item {
    max-height: none;
}

.da-member-expanded .da-expander-toggle {
    background-color: #485467;
    border-color: #28303C;
}

.da-member-expanded .da-expander-toggle:before {
    color: white;
}

.da-member-expanded .da-expander-toggle:hover {
    background-color: #707B8C;
    border-color: #5A6575;
}

.da-member-expanded .da-member-detail {
    height: auto;
    font-weight: 400;
}

.da-member-expanded .da-member-text,
.da-member-expanded .da-member-text p {
    width: auto;
    text-overflow: initial;
    white-space: initial;
}

.da-member-source-class-ct {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: white;
    padding: 12px 20px;
}

.da-member-inherited {
    color: #D6A27A;
}