/* GUIDE BODY */
.da-guide-footer {
    height: 500px;
    background: white;
}

/* TOC */
.da-guide-toc {
    color: #c1c1c1;
    background: #f3f5f7;
    padding: 12px;
    border-left: 1px solid #d5dde2 !important;
}

.da-guide-toc a {
    display: block;
    text-decoration: none;
    color: #404040;
    padding: 2px 0px;
}

.da-guide-toc a:hover {
    color: #ea682e;
}

.da-guide-toc-H2 {
    font-weight: 400;
}

.da-guide-toc-H3 {
    font-weight: 300;
    /*padding-left: 15px;*/
}

.da-guide-toc-H3:before {
    content: '•';
    padding: 0px 4px;
    color: #D4D4D4;
}

.da-highlightTocNode {
    /*border-left: 3px solid #0196AB;*/
    color: #00B1CA !important;
}
