/* //
   // Global
// */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', Helvetica-Neue, Arial, sans-serif;
}

input {
    font-size: 13px;
    padding: 4px 6px;
    line-height: 14px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
}

.classText h1 {
    color: #025b80;
    font-weight:400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
}

.blueexternal-link {
    color: #0A8CC6;
}

.blueexternal-link:hover {
    color: #025B80;
}

/* FIDDLE WRAP */
.da-inline-fiddle-nav {
    top: 4px;
    /*padding: 0 0px 7px 4px;*/
}
.da-inline-fiddle-nav-active {
    color: white;
    background: #1E97CC;
    border: 1px solid #1E97CC;
    border-bottom-width: 2px;
    cursor: default;
}
.ace_editor {
    height: 408px;
}

/* //
   // html-main
// */

#centerContent {
    top : 58px;
}

#history-nav {
    height : 32px;
}
#header {
    height : 58px;
}
#class-tree-ct {
    transform: translateZ(0);
    top: 33px;
    width: 298px;
}
#rightMembers {
    top: 33px;
    left: 300px;
}
body > .product-header {
    top: 13px;
    left: 50px;
}
.logo {
    padding-top: 10px;
    padding-left: 10px;
}
#mobile-main-nav-menu-btn {
    left: 6px;
}
#tree-scroller {
    top: 61px;
}
#tree, #guide-tree, #quick-start-tree, #classicTree, #modernTree {
    padding: 10px 25px 10px 19px;
}

/* callout section */
.callout:after,
.callout:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 6px 8.5px;
    display: none;
    pointer-events: none;
    z-index: 2;
}
.callout:after {
    border-color: transparent transparent #505050 transparent;
}
.callout:before {
    border-color: transparent transparent #eaeaea transparent;
}
.callout-b:after,
.callout-b:before {
    left: 50%;
    margin-left: -8.5px;
}
.callout-bl:after,
.callout-bl:before {
    left: 8.5px;
}
.callout-b:after,
.callout-bl:after {
    bottom: -8px;
}
.callout-b:before,
.callout-bl:before {
    bottom: -7px;
}

/* tooltip section */
.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

.tooltip:after {
    position: absolute;
    color: white;
    background: #505050;
    white-space: nowrap;
    text-align: center;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    z-index: 1;
    display: none;
    pointer-events: none;
    line-height: normal;
    border: 1px solid #bbbbbb;
}
.tooltip-tr-br:after {
    bottom: -34px;
    right: 0;
}
.tooltip-tl-bl:after {
    bottom: -34px;
    left: 0;
}
.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}


#help-btn:after {
    content: attr(data-tip);
}
.fiddle-code-beautify:after {
    content: attr(data-beautify);
}
.product-menu-btn:after {
    content: attr(data-tip);
}
.history-btn:after, .history-config:after, .history-clear:after {
    content: attr(data-tip);
}
.toggle-tree:after {
    content: attr(data-expand);
}
#toggleExamples:after {
    content: attr(data-collapse);
}

/* tree section */
.tree-node-collapsed + .child-nodes-ct {
    display: none;
}
.tree-expando-collapsed {
    display: none;
}
.tree-node-collapsed > .tree-expando-collapsed {
    display: inline-block;
}
.tree-node-collapsed > .tree-expando-expanded {
    display: none;
}
.tree-depth-1 {
    margin-left: 1rem;
}
.tree-depth-2 {
    margin-left: 2rem;
}
.tree-depth-3 {
    margin-left: 3rem;
}
.nav-tab {
    padding: 8px 8px 7px 8px;
    margin: 29px 5px 0 0;
}
.active-tab {
    border-bottom-color: #f4f4f4;
}
.modern-guide:before {
    content: url(../../../images/modern.png);
    position: relative;
    top: 2px;
}
.classic-guide:before {
    content: url(../../../images/classic.png);
    position: relative;
    top: 2px;
}


/* //
   //  _html-guideBody
// */

.context-menu-ct .search {
    position: absolute;
    right: 11px;
    top: -71px;
    margin: 0;
    float: none;
}
.toolkit-search-filter-ct {
    font-size: 0;
}
#modern-search-filter, #classic-search-filter {
    width: 21px;
    height: 21px;
    font-size: 15px;
    line-height: 21px;
    -webkit-font-smoothing: subpixel-antialiased;
}
#modern-search-filter:before {
    content: 'M';
}
#classic-search-filter:before {
    content: 'C';
}
.classText {
    padding: 0 20px 20px 20px;
    line-height: 26px;
}
.toolkit-badge-ct {
    padding: 4px 8px;
    margin-top: 30px;
}
.is-guide #toggleExamples {
    right: 12px;
    top: 11px;
}
#toggleExamples {
    padding: 5px 4px;
}
.toc {
    padding: 20px 30px;
    float: right;
    margin: 30px 0 20px 30px;
}
.toc h2 {
    font-size:18px;
    font-weight:900;
    margin-bottom:0;
}
.toc-page-h2 {
    padding-left: 10px;
    font-weight: 900 !important;
}
.toc-page-h3 {
    padding-left: 20px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat;
}
.toc-page-h4 {
    padding-left: 30px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}
.toc-page-h5 {
    padding-left: 40px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}
.toc-page-h6 {
    padding-left: 50px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}