/* //
   // Global
// */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', Helvetica-Neue, Arial, sans-serif;
}

input {
    font-size: 13px;
    padding: 4px 6px;
    line-height: 14px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
}

input[type="search"] {
    -webkit-appearance: none;
    box-sizing: content-box;
    padding-right:0;
}

input[type='checkbox'] {
    cursor: pointer;
}

p code {
    color: #3B2C48;
    background: #FAFCFD;
    border: 1px solid #E0E0EA;
    padding: .1rem .2rem;
    font-family: Monaco,monospace;
    font-weight: 400;
    border-radius: .2rem;
    word-wrap: break-word;
    font-size: .85em;
}

.blueexternal-link {
    color: #0A8CC6;
}
.blueexternal-link:hover {
    color: #025B80;
}

/*
    HTML MAIN
*/

#footer {
    padding: 10px 20px 10px 0;
}
/*#centerContent {
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}*/
#centerContent {
    top : 58px;
}
#history-nav {
    height : 32px;
}
#header {
    height : 58px;
}
#class-tree-ct {
    transform: translateZ(0);
    top: 33px;
    width: 298px;
}
#rightMembers {
    top: 33px;
    left: 300px;
}
body > .product-header {
    top: 13px;
    left: 50px;
}
.logo {
    padding: 10px 0 0 10px;
}
#mobile-main-nav-menu-btn {
    left: 6px;
}
#tree-scroller {
    top: 61px;
}
#tree, #guide-tree, #quick-start-tree, #classicTree, #modernTree {
    padding: 10px 25px 10px 19px;
}

/* callout section */
.callout:after,
.callout:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 6px 9px;
    display: none;
    pointer-events: none;
    z-index: 2;
}
.callout:after {
    border-color: transparent transparent #505050 transparent;
}
.callout:before {
    border-color: transparent transparent #eaeaea transparent;
}
.callout-b:after,
.callout-b:before {
    left: 50%;
    margin-left: -8.5px;
}
.callout-bl:after,
.callout-bl:before {
    left: 9px;
}
.callout-b:after,
.callout-bl:after {
    bottom: -8px;
}
.callout-b:before,
.callout-bl:before {
    bottom: -7px;
}

.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

.toggle-tree {
    top: 10px;
    right: 7px;
}

#toggleAll,
#toggleExamples,
.toggle-tree {
    font-size: 13px !important;
    background: #025b80;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    min-width: 10px;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

#toggleAll:before,
#toggleExamples:before,
.toggle-tree:before {
    color: white;
    font-size: 13px;
    line-height: 13px;
}

#toggleAll:hover,
.toggle-tree:hover {
    background: #0A8CC6;
    text-decoration: none;
    overflow: visible;
    z-index: 1;
}
#toggleExamples:hover,
.toggle-tree:hover {
    overflow: visible;
}
#toggleExamples:hover {
    background-color: #46BAEC;
    z-index: 1;
}

/* tooltip section */

.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

.tooltip:after {
    position: absolute;
    color: white;
    background: #505050;
    white-space: nowrap;
    text-align: center;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    z-index: 1;
    display: none;
    pointer-events: none;
    line-height: normal;
    border: 1px solid #bbbbbb;
    font-family: 'Open Sans', Helvetica-Neue, Arial, sans-serif;
}
.tooltip-tr-br:after {
    bottom: -34px;
    right: 0;
}
.tooltip-tl-bl:after {
    bottom: -34px;
    left: 0;
}
.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

#help-btn:after {
    content: attr(data-tip);
}
.fiddle-code-beautify:after {
    content: attr(data-beautify);
}
.product-menu-btn:after {
    content: attr(data-tip);
}
.history-btn:after, .history-config:after, .history-clear:after {
    content: attr(data-tip);
}
#toggleExamples:after {
    content: attr(data-collapse);
}

/* tree section */

.tree-hidden #class-tree-ct {
    left: -266px;
    background-color: #f5f5f5;
    margin-top: 0;
}

.tree-hidden #tree,
.tree-hidden #guide-tree {
    right: 350px;
}

.tree-hidden #class-tree-ct #tree, .tree-hidden #class-tree-ct #guide-tree{
    overflow: hidden;
}

.tree-hidden #rightMembers {
    left: 34px;
}

.tree-node-collapsed + .child-nodes-ct {
    display: none;
}
.tree-expando-collapsed {
    display: none;
}
.tree-node-collapsed > .tree-expando-collapsed {
    display: inline-block;
}
.tree-node-collapsed > .tree-expando-expanded {
    display: none;
}
.tree-depth-1 {
    margin-left: 1rem;
}
.tree-depth-2 {
    margin-left: 2rem;
}
.tree-depth-3 {
    margin-left: 3rem;
}
.nav-tab {
    padding: 8px 8px 7px 8px;
    margin: 29px 5px 0 0;
}
.active-tab {
    border-bottom-color: #f4f4f4;
}
.modern-guide:before {
    content: url(../../../../assets/images/modern.png);
    position: relative;
    top: 2px;
}
.classic-guide:before {
    content: url(../../../../assets/images/classic.png);
    position: relative;
    top: 2px;
}

/* //
   //  _html-guideBody
// */

.context-menu-ct .search {
    position: absolute;
    right: 11px;
    top: -71px;
    margin: 0;
    float: none;
}
.toolkit-search-filter-ct {
    font-size: 0;
}
#modern-search-filter, #classic-search-filter {
    width: 21px;
    height: 21px;
    font-size: 15px;
    line-height: 21px;
    -webkit-font-smoothing: subpixel-antialiased;
}
#modern-search-filter:before {
    content: 'M';
}
#classic-search-filter:before {
    content: 'C';
}
.classText {
    padding: 0 20px 20px 20px;
    line-height: 26px;
}
.toolkit-badge-ct {
    padding: 4px 8px;
    margin-top: 30px;
}
.is-guide #toggleExamples {
    right: 12px;
    top: 11px;
}

/* Guide Table of Contents */

.toc {
    padding: 20px 30px;
    margin: 75px 0 20px 30px;
}
.toc-page-h2 {
    padding-left: 10px;
    font-weight: 900 !important;
}
.toc-page-h3 {
    padding-left: 20px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat;
}
.toc-page-h4 {
    padding-left: 30px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}
.toc-page-h5 {
    padding-left: 40px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}
.toc-page-h6 {
    padding-left: 50px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}

/* //
   //  _html-apiBody
// */

.class-body-wrap {
    top: 113px;
}
#member-display {
    padding: 4px 18px;
    margin-top: 15px;
    top: -61px;
}
#member-class-name {
    padding-left: 25px;
    padding-right: 325px;
}
#toolbar {
    padding: 0 20px;
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

/* Fiddle Wrapping */

.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav {
    padding: 0 0 1px 4px;
}
.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav:hover {
    cursor: pointer;
}
.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav:hover *,
.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav:hover *:before {
    color: #1E97CC;
}
.da-inline-code-wrap-fiddle.example-collapsed .code-controls {
    padding: 0;
}
.da-inline-code-wrap-fiddle.example-collapsed .expand-tool {
    top: 0;
    margin-top: -7px;
    padding: 7px 12px;
}

.example-collapsed.da-inline-code-wrap-fiddle {
    height: 5px;
}

.example-collapsed .collapse-tool,
.example-collapsed .da-inline-fiddle-nav-code,
.example-collapsed .da-inline-fiddle-nav-fiddle,
.example-collapsed .fiddle-code-beautify,
.example-collapsed .ace-ct,
.example-collapsed + pre {
    display: none !important;
}

.example-collapsed .da-inline-fiddle-nav {
    padding: 8px 0 1px 4px;
}

.example-collapsed .expand-tool,
.example-collapsed .expand-code {
    display: inline-block;
    top: 0;
    right: 0;
}

.example-collapsed.code-controls {
    margin-bottom: 8px;
    height: auto;
    padding-left: 12px;
    border: 2px solid #e4e4e4;
}

.example-collapsed iframe {
    display: none !important;
}

.collapse-code-all #toggleExamples:after {
    content: attr(data-expand);
}

.collapse-code-all #toggleExamples {
    background-color: #1E97CA;
}

.da-inline-fiddle-nav {
    top: 4px;
}
.da-inline-fiddle-nav-active {
    color: white;
    background: #1E97CC;
    border: 1px solid #1E97CC;
    border-bottom-width: 2px;
    cursor: default;
}
.ace_editor {
    height: 408px;
}

/*
    MEMBERS
*/

.members a {
    text-decoration: none;
    color: #0A8CC6;
    transition: color .25s ease-out;
}

.members a:hover {
    text-decoration: underline;
}

#show-membertypes {
    display:none;
}

.resourceLinks .toolbarButton{
    background-color:#025b80;
    border:1px solid #024059;
}
.resourceLinks .toolbarButton:hover{
    background-color:#014d6c;
}
.resourceLinks .toolbarButton:active{
    background-color:#024059;
}

.resourceLinks a{
    color:white;
}
.members{
    clear:both;
    border-top: 2px solid #DCDCDC;
}

.member span.member-name, span.member-name {
    color: #025B80 !important;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    text-decoration:none;
}

.member span.member-name:hover,
span.member-name:hover {
    color: #1290C8 !important;
    text-decoration: underline;
}

.members .type {
    color: #297FA5;
    margin: 4px 0 0 0;
    line-height: 40px;
    padding: 0 0 3px 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25em;
    border-bottom: 4px solid #CACACA;
    font-weight: 400;
}

.members h2 {
    color: #1E97CC;
    margin: 0;
    font-size: 1.1em;
    padding: 4px 0 0 0;
}

.member li {
    margin-bottom: 10px;
    font-size: .93em;
}

.classmembers.member,
.classmembers.member-protected,
.classmembers.member-private {
    border-bottom: 1px solid #E4E4E4;
    padding: 0 200px 8px 30px;
    font-size: .93em;
    position:relative;
    transform: translateZ(0);
    overflow: hidden;
    height: 46px;
}
.classmembers.member h2 {
    padding-bottom: 2px;
}

.members .classmembers h2 strong,
.params-list strong{
    color: #d68338;
}

.classmembers h2, .classmembers h3 {
    color: #424242;
    font-size: .93em;
    letter-spacing: 1px;
}

.member-item-key {
    color: red;
}

.source-class {
    position: absolute;
    right: 30px;
    top: 0;
}

.isInherited .source-class a {
    color: #888888;
}

.isInherited a:hover, .source-class a:hover {
    text-decoration:underline;
}

.fromObject {
    display: none !important;
}

.members .memberType {
    color: #a2a2a2;
    font-size: 12px;
    font-weight: bold;
}

.members .memberType a {
    font-size: 13px;
    font-weight: bold;
}

.members p {
    font-size: .93em;
    line-height: 1.7em;
    max-width: 900px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 12px 4px;
}

.generic-content p {
    font-size: .93em;
    line-height: 1.7em;
    margin: 0 12px 4px;
}

.alias,
.memberType {
    letter-spacing: 1px;
}

.enum-msg {
    color: #FFFFFF;
    background-color: #85AA73;
    border: 2px solid #7C9F6B;
    border-radius: 3px;
    padding: 6px 18px;
    font-weight: bold;
    margin-top: 6px !important;
    text-align: center;
    overflow: hidden;
}

p > .memberType {
    margin-left: 0;
}

h3.detail-header {
    color: #555;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-bottom: 4px;
    display: inline-block;
}

.defaults-to-dec {
    color: #806447;
    margin: 8px 0 0 12px !important;
}

.since-dec {
    margin-top: 8px !important;
    background: #fbfbfb;
    border: 1px solid #ececec;
    padding: .1rem .2rem;
    border-radius: .2rem;
    display: inline-block;
    font-size: 12px !important;
}

.deprecated-dec,
.removed-dec,
.privatecls-dec {
    color: #EC4545;
    border: 1px solid #EC4545;
    border-radius: 3px;
    padding: 6px 18px;
    font-weight: bold;
    margin-top: 6px !important;
    text-align: center;
    overflow: hidden;
}

.classText .deprecated-dec,
.classText .removed-dec,
.classText .privatecls-dec {
    margin-top: 19px !important;
}

.toolkit-badge-ct {
    background: whitesmoke;
    padding: 4px 8px;
    margin-top: 30px;
}
.toolkit-badge {
    font-weight: bold;
    color: #da5c0d;
}

.universal-badge {
    display:none;
}

.preventable-dec, .template-dec {
    color: #999;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 6px 18px;
    font-weight: bold;
}

/*
.protected, .private, .deprecated, .preventable, .static, .readonly, .template, .chainable, .required, .bindable, .abstract, .removed {
    color: white;
    padding: 3px 8px 5px 8px;
    margin-left: 12px;
    line-height: 11px;
    font-size: 11px;
}*/

.protected, .private, .deprecated, .preventable, .static, .readonly, .template, .chainable, .required, .bindable, .abstract, .removed, .premium {
    color: white;
    padding: 4px 8px;
    margin-left: 0;
    font-size: 12px;
    line-height:11px
}

.classmembers .protected.mini-flag,
.classmembers .private.mini-flag,
.classmembers .deprecated.mini-flag,
.classmembers .removed.mini-flag,
.classmembers .preventable.mini-flag,
.classmembers .static.mini-flag,
.classmembers .readonly.mini-flag,
.classmembers .template.mini-flag,
.classmembers .abstract.mini-flag,
.classmembers .chainable.mini-flag,
.classmembers .required.mini-flag,
.classmembers .bindable.mini-flag {
    display: none;
}

.preventable,
.readonly,
.template,
.abstract {
    background-color: #aaaaaa;
}

.chainable, .premium {
    background-color: #2A9C2A;
}

.private{
    background-color: #fd6b1b;
}

.protected{
    background-color: #9b86fc;
}

.static{
    background-color: #4A4A4A;
}

.required {
    background-color: #464646;
}

.bindable {
    background-color: #FFB700;
}

.deprecated,
.removed {
    background-color: #aa0000;
}

.param-row {
    margin-top: 8px;
}

.param-row .params-list {
    font-weight: bold;
}
.params-list {
    color: #555555;
    font-weight: normal;
    font-size: 12px;
}
.param-row .params-list:before {
    content: '\f111';
    font-family: FontAwesome;
    color: #616161;
    margin-right: 12px;
    font-size: 5px;
    line-height: 12px;
    vertical-align: middle;
}

.params-desc {
    padding-left: 42px;
}

.params-desc p {
    margin-left: 0 !important;
}

.params-desc + p {
    margin-top: 8px !important;
}

.params-desc + .defaults-to-dec {
    margin-left: 56px !important;
    margin-top: 2px !important;
}

.sub-params-list {
    margin: 12px 0 12px 24px;
}
.sub-params-list .params-list:before {
    content: '\f10c';
}

.return-desc {
    padding-left: 12px;
}

.button {
    font-size: .8em;
    border: 1px solid #C1C1C1;
    border-radius: 3px;
    background-color: #F9F9F9;
    padding: 2px 6px;
    margin-left: 14px;
}

.button:hover {
    text-decoration: none;
    background-color: #2EA8D0;
    color: white;
    border-color: #2EA8D0;
}

.button:active {
    background-color: #2A96B9;
    border-color: #2A96B9;
    color: white;
}
.classMeta{
    border: 2px solid #dadada;
    color: #666;
    font-size: .85em;
    float: right;
    background-color: #ededed;
    padding: 15px;
    margin: 30px 0 30px 30px;
    overflow: hidden;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    background: transparent;
}

.related-collapsed .classMeta {
    height: 0;
    padding: 0 60px;
    border-width: 0;
}

.collapsedTree {
    top:175px
}

.private-class-toggle-ct {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: white;
    padding: 3px 0 3px 62px;
    line-height: 29px;
    border-top: 1px solid #e6e6e6;
}
.private-class-toggle-ct>label {
    cursor: pointer;
    color: #444;
}

#memberTypeMenu.show-menu {
    display: block;
}

.member-menu-col {
    position: absolute;
    top: 0;
    padding: 12px 0 12px 12px;
    width: 285px;
}

.member-menu-col a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.member-menu-col a:hover {
    background-color: #F9F9F9;
}

.member-menu-col a.accessor {
    padding-left: 5px;
}

.member-menu-col a.accessor:before {
    content: '└';
    color: #C5DAE2;
}

.member-menu-flag {
    display: inline;
    font-size: 8px;
    line-height: 8px;
    font-weight: bold;
    padding: 0 4px 1px 4px;
    margin-left: 5px;
    letter-spacing: 1px;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    vertical-align: middle;
}

.collapse-toggle {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: #f5f5f5;
    cursor: pointer;
    border-right: 1px solid #E4E4E4;
}

.collapse-toggle:hover {
    background-color: #e9e9e9;
}

/* nested accessor collapse-expand els */
.classmembers .classmembers .collapse-toggle {
    background-color: #e9e9e9;
}

.classmembers .classmembers .collapse-toggle:hover {
    background-color: #D1D1D1;
}

.collapse-toggle:before {
    content: '▸';
    position: absolute;
    left: 50%;
    margin-left: -6px;
    top: 11px;
    margin-top: -11px;
    color: #4a4a4a;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.classmembers pre,
.classmembers .deprecated-dec,
.classmembers .preventable-dec,
.classmembers .template-dec,
.classmembers .removed-dec {
    display: none;
}

.member-highlight {
    background-color: #FFE489;
    transition: background-color 1.4s;
}

.member-highlight-fade {
    background-color: white !important;
}

.classmembers.member-expanded,
.classmembers.member-temp-expanded,
.classmembers.member-filter-expanded {
    height: auto;
    padding-bottom: 15px;
}

.classmembers.member-expanded p {
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
    width: auto;
    margin: 0 12px;
}

.classmembers.member-expanded pre,
.classmembers.member-expanded .deprecated-dec,
.classmembers.member-expanded .preventable-dec,
.classmembers.member-expanded .template-dec,
.classmembers.member-expanded .removed-dec,
.classmembers.member-temp-expanded pre,
.classmembers.member-temp-expanded .deprecated-dec,
.classmembers.member-temp-expanded .preventable-dec,
.classmembers.member-temp-expanded .template-dec,
.classmembers.member-temp-expanded .removed-dec,
.classmembers.member-filter-expanded pre,
.classmembers.member-filter-expanded .deprecated-dec,
.classmembers.member-filter-expanded .preventable-dec,
.classmembers.member-filter-expanded .template-dec,
.classmembers.member-filter-expanded .removed-dec {
    display: block;
    margin: 0 0 8px 12px;
    background: #F5F5F5;
}

.deprecated-strike .member-name {
    text-decoration: line-through !important;
}

.deprecated-dec p,
.preventable-dec p,
.template-dec p,
.removed-dec p {
    margin: 0;
}

.template-dec {
    margin-top:10px !important
}

.member-expanded > .collapse-toggle,
.member-temp-expanded > .collapse-toggle,
.member-filter-expanded > .collapse-toggle {
    background-color: #f5f5f5;
}

.member-expanded > .collapse-toggle:hover,
.member-temp-expanded > .collapse-toggle:hover,
.member-filter-expanded > .collapse-toggle:hover {
    background-color: #e9e9e9;
}

.member-expanded > .collapse-toggle:before,
.member-temp-expanded > .collapse-toggle:before,
.member-filter-expanded > .collapse-toggle:before {
    content: '▾';
}

.member-expanded.isGetter:before,
.member-expanded.isGetter:before,
.member-temp-expanded.isGetter:before,
.member-temp-expanded.isSetter:before,
.member-filter-expanded.isGetter:before,
.member-filter-expanded.isSetter:before {
    color: #F7F7F7;
    border-color: #A5A5A5;
}

.accessor-method {
    position: relative;
    padding: 22px 60px 15px 30px !important;
    background-color: #F7F7F7;
    margin-top: 10px;
    margin-left: 30px;
    border: 1px solid #e9e9e9;
}

.isGetter:before,
.isSetter:before {
    position: absolute;
    color: #F7F7F7;
    background-color: #A5A5A5;
    top: 0;
    left: 28px;
    padding: 1px 9px 2px 9px;
    line-height: 12px;
    font-size: .8em;
    border-radius: 0 0 3px 3px;
    border: 2px solid #a5a5a5;
    font-weight: bold;
    letter-spacing: 1px;
}

.isGetter:before {
    content: 'getter method';
}

.isSetter:before {
    content: 'setter method';
}

.temp-show {
    display: block;
}

#back-to-top {
    position: fixed;
    bottom: -100%;
    right: 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1E97CC;
    font-size: .8em;
    padding: .8em;
    text-align: center;
    transition: all 250ms;
    z-index: 2;
    border: 3px solid white;
    display:block;
}

#back-to-top.sticky {
    bottom: 50px;
}

#back-to-top:hover {
    background-color: #46BAEC;
}

.viewSource {
    text-align:right;
    line-height: 12px;
}
.viewSource a {
    color: #999;
    font-size: 11px;
}

.member-tags {
    margin-bottom: 5px;
    display: inline-block;
}

.guide-tags {
    float:left;
    margin-right:10px;
}
.class .member-tags {
    margin: 0;
}
.guide-tags > span, .member-tags > span {
    display: inline;
    font-size: 9px;
    line-height: 9px;
    font-weight: bold;
    padding: 0 4px 1px 4px;
    margin-left: 5px;
    letter-spacing: 1px;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    vertical-align: middle;
}
