/* //
   // Global
// */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', Helvetica-Neue, Arial, sans-serif;
}

input {
    font-size: 13px;
    padding: 4px 6px;
    line-height: 14px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
}

#footer {
    position: relative;
    bottom: 0; left: 0; right: 0;
    background-color: #efefef;
    border-top:1px solid #e6e6e6;
    font-size: .66em;
    text-align: right;
    padding-right: 20px;
    z-index: 0;
    padding-bottom:10px;
    padding-top:10px;
    clear: both;
}

#footer p{
    display:inline;
}

.blueexternal-link {
    color: #0A8CC6;
}

.blueexternal-link:hover {
    color: #025B80;
}

/* //
   // html-main
// */

#centerContent {
    top : 58px;
}

#history-nav {
    height : 32px;
}
#header {
    height : 58px;
}
#class-tree-ct {
    transform: translateZ(0);
    top: 33px;
    width: 298px;
}
#rightMembers {
    top: 33px;
    left: 300px;
}
body > .product-header {
    top: 13px;
    left: 50px;
}
.logo {
    padding-top: 10px;
    padding-left: 10px;
}
#mobile-main-nav-menu-btn {
    left: 6px;
}
#tree-scroller {
    top: 61px;
}
#tree, #guide-tree, #quick-start-tree, #classicTree, #modernTree {
    padding: 10px 25px 10px 19px;
}

/* callout section */
.callout:after,
.callout:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 6px 9px;
    display: none;
    pointer-events: none;
    z-index: 2;
}
.callout:after {
    border-color: transparent transparent #505050 transparent;
}
.callout:before {
    border-color: transparent transparent #eaeaea transparent;
}
.callout-b:after,
.callout-b:before {
    left: 50%;
    margin-left: -8.5px;
}
.callout-bl:after,
.callout-bl:before {
    left: 9px;
}
.callout-b:after,
.callout-bl:after {
    bottom: -8px;
}
.callout-b:before,
.callout-bl:before {
    bottom: -7px;
}

.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

.toggle-tree {
    padding: 5px 6px;
    position: absolute;
    top: 10px;
    right: 7px;
}

#toggleAll,
#toggleExamples,
.toggle-tree {
    font-size: 13px !important;
    background: #025b80;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    min-width: 10px;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

#toggleAll:before,
#toggleExamples:before,
.toggle-tree:before {
    color: white;
    font-size: 13px;
    line-height: 13px;
}

#toggleAll:hover,
.toggle-tree:hover {
    background: #0A8CC6;
    text-decoration: none;
    overflow: visible;
    z-index: 1;
}
#toggleExamples:hover,
.toggle-tree:hover {
    overflow: visible;
}
#toggleExamples:hover {
    background-color: #46BAEC;
    z-index: 1;
}

/* tooltip section */

.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

.tooltip:after {
    position: absolute;
    color: white;
    background: #505050;
    white-space: nowrap;
    text-align: center;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    z-index: 1;
    display: none;
    pointer-events: none;
    line-height: normal;
    border: 1px solid #bbbbbb;
    font-family: 'Open Sans', Helvetica-Neue, Arial, sans-serif;
}
.tooltip-tr-br:after {
    bottom: -34px;
    right: 0;
}
.tooltip-tl-bl:after {
    bottom: -34px;
    left: 0;
}
.tooltip:hover:after,
.tooltip:hover > .callout:after,
.tooltip:hover > .callout:before {
    display: block;
}

#help-btn:after {
    content: attr(data-tip);
}
.fiddle-code-beautify:after {
    content: attr(data-beautify);
}
.product-menu-btn:after {
    content: attr(data-tip);
}
.history-btn:after, .history-config:after, .history-clear:after {
    content: attr(data-tip);
}
#toggleExamples:after {
    content: attr(data-collapse);
}

/* tree section */

.tree-hidden #class-tree-ct {
    left: -266px;
    background-color: #f5f5f5;
    margin-top: 0px;
}

.tree-hidden #tree,
.tree-hidden #guide-tree {
    right: 350px;
}

.tree-hidden #class-tree-ct #tree, .tree-hidden #class-tree-ct #guide-tree{
    overflow: hidden;
}

.tree-hidden #rightMembers {
    left: 34px;
}

.tree-node-collapsed + .child-nodes-ct {
    display: none;
}
.tree-expando-collapsed {
    display: none;
}
.tree-node-collapsed > .tree-expando-collapsed {
    display: inline-block;
}
.tree-node-collapsed > .tree-expando-expanded {
    display: none;
}
.tree-depth-1 {
    margin-left: 1rem;
}
.tree-depth-2 {
    margin-left: 2rem;
}
.tree-depth-3 {
    margin-left: 3rem;
}
.nav-tab {
    padding: 8px 8px 7px 8px;
    margin: 29px 5px 0 0;
}
.active-tab {
    border-bottom-color: #f4f4f4;
}
.modern-guide:before {
    content: url(../../../../assets/images/modern.png);
    position: relative;
    top: 2px;
}
.classic-guide:before {
    content: url(../../../../assets/images/classic.png);
    position: relative;
    top: 2px;
}

/* //
   //  _html-guideBody
// */

.context-menu-ct .search {
    position: absolute;
    right: 11px;
    top: -71px;
    margin: 0;
    float: none;
}
.toolkit-search-filter-ct {
    font-size: 0;
}
#modern-search-filter, #classic-search-filter {
    width: 21px;
    height: 21px;
    font-size: 15px;
    line-height: 21px;
    -webkit-font-smoothing: subpixel-antialiased;
}
#modern-search-filter:before {
    content: 'M';
}
#classic-search-filter:before {
    content: 'C';
}
.classText {
    padding: 0 20px 20px 20px;
    line-height: 26px;
}
.toolkit-badge-ct {
    padding: 4px 8px;
    margin-top: 30px;
}
.is-guide #toggleExamples {
    right: 12px;
    top: 11px;
}
#toggleExamples {
    padding: 5px 4px;
}

/* Guide Table of Contents */

.toc {
    padding: 20px 30px;
    float: right;
    margin: 75px 0 20px 30px;
}
.toc h2 {
    font-size:18px;
    font-weight:900;
    margin-bottom:0;
}
.toc-page-h2 {
    padding-left: 10px;
    font-weight: 900 !important;
}
.toc-page-h3 {
    padding-left: 20px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat;
}
.toc-page-h4 {
    padding-left: 30px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}
.toc-page-h5 {
    padding-left: 40px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}
.toc-page-h6 {
    padding-left: 50px;
    background: url(../../../../assets/images/elbow-end.png) no-repeat 10px;
}


/* Fiddle Rapping */
/* TODO investigate Tachyon incorporation for inline fiddles */

.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav {
    padding: 0 0 1px 4px;
}
.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav:hover {
    cursor: pointer;
}
.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav:hover *,
.da-inline-code-wrap-fiddle.example-collapsed .da-inline-fiddle-nav:hover *:before {
    color: #1E97CC;
}
.da-inline-code-wrap-fiddle.example-collapsed .code-controls {
    padding: 0;
}
.da-inline-code-wrap-fiddle.example-collapsed .expand-tool {
    top: 0;
    margin-top: -7px;
    padding: 7px 12px;
}

.example-collapsed.da-inline-code-wrap-fiddle {
    height: 5px;
}

.example-collapsed .collapse-tool,
.example-collapsed .da-inline-fiddle-nav-code,
.example-collapsed .da-inline-fiddle-nav-fiddle,
.example-collapsed .fiddle-code-beautify,
.example-collapsed .ace-ct,
.example-collapsed + pre {
    display: none !important;
}

.example-collapsed .da-inline-fiddle-nav {
    padding: 8px 0 1px 4px;
}

.example-collapsed .expand-tool,
.example-collapsed .expand-code {
    display: inline-block;
    top: 0;
    right: 0;
}

.example-collapsed.code-controls {
    margin-bottom: 8px;
    height: auto;
    padding-left: 12px;
    border: 2px solid #e4e4e4;
}

.example-collapsed iframe {
    display: none !important;
}

.collapse-code-all #toggleExamples:after {
    content: attr(data-expand);
}

.collapse-code-all #toggleExamples {
    background-color: #1E97CA;
}

.da-inline-fiddle-nav {
    top: 4px;
    /*padding: 0 0px 7px 4px;*/
}
.da-inline-fiddle-nav-active {
    color: white;
    background: #1E97CC;
    border: 1px solid #1E97CC;
    border-bottom-width: 2px;
    cursor: default;
}
.ace_editor {
    height: 408px;
}
