<html>
  <body>
    <script type="text/javascript">
      // redirect to current/latest version
      window.location="{{currentVersion}}/";
    </script>
    <a href='{{currentVersion}}/'>Latest version: {{currentVersion}}/</a>
  </body>	
</html>
