.da-prod-ver-menu-item {
    padding: 10px 0px;
    text-align: center;
    font-size: 19px;
    line-height: 19px;
    border: 1px solid #C6D0DA;
    border-top-color: transparent;
    border-right-color: transparent;
    cursor: pointer;
}

/*.da-prod-ver-item-over {
    background: gray;
    color: white;
}*/

.da-prod-ver-item-enter {
    background: #79716C;
    color: white;
}
