<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Fiddle</h2>
                <div class="home-bubble-content">
                    <p>Beginning your journey with Fiddle</p>
                    <p><a href="./guides/getting_started.html">Getting Started</a></p>
                    <p><a href="./guides/whats_new.html">What's New in Fiddle 2</a></p>
                    <p><a href="./guides/saving_forking_fiddles.html">Saving and Forking Fiddles</a></p>
                    <p><a href="./guides/working_with_files.html">Working with Files</a></p>
                    <p><a href="./guides/data_requests.html">Making Data Requests</a></p>
                    <p><a href="./guides/run_control.html">Run Control</a></p>
                    <p><a href="./guides/connecting_inspector.html">Connecting Inspector</a></p>
                </div>
                <div class="home-bubble-badge-ct getting-started-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
