<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Fiddle</h2>
                <div class="home-bubble-content">
                    <p>Beginning your journey with Fiddle</p>
                    <p><a href="getting_started.html">Getting Started</a></p>
                    <p><a href="whats_new.html">What's New in Fiddle 2</a></p>
                    <p><a href="saving_forking_fiddles.html">Saving and Forking Fiddles</a></p>
                    <p><a href="working_with_files.html">Working with Files</a></p>
                    <p><a href="data_requests.html">Making Data Requests</a></p>
                    <p><a href="run_control.html">Run Control</a></p>
                    <p><a href="connecting_inspector.html">Connecting Inspector</a></p>
                </div>
                <div class="home-bubble-badge-ct getting-started-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
