/*$base-color: #1E97CC;*/
$base-color: #4a4a4a;

/* class member access levels */
$private-color: #FF8C4D;
$protected-color: #998ADE;
$deprecated-color: #CE4E4E;
$removed-color: #CE4E4E;
$template-color: #A7A7A7;
$preventable-color: #A7A7A7;
$static-color: #333;