a {
    text-decoration: none;
    color: #1e97cc;
}

a:hover {
    color: #D8783C;
}

/* class member access levels */
$private-color: #FF8C4D;
$protected-color: #998ADE;
$deprecated-color: #CE4E4E;
$removed-color: #CE4E4E;
$template-color: #A7A7A7;
$preventable-color: #A7A7A7;
$static-color: #333;