<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Getting Started</h2>
                <div class="home-bubble-content">
                    <p>Beginning the journey with GXT</p>
                    <p><a href="./guides/announcements/Announcements.html">What's New</a></p>
                    <p><a href="./guides/getting_started/getting_started.html">Getting Started</a></p>
                    <p><a href="./javadoc/gxt-5.0.0/index.html">GXT 5.0 EA Javadocs</p>
                </div>
                <div class="home-bubble-badge-ct getting-started-badge product-page-badge"></div>
            </div>
        </div>
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Professional Services</h2>
                <div class="home-bubble-content">
                    <p>Help from the professionals!</p>
                    <p><a href="http://docs-devel.sencha.com/gxt/4.x/guides/getting_started/migration/Migration2to3.html">Upgrade from GXT 2 to GXT 3</a></p>
                    <p><a href="https://www.sencha.com/training/course/fast-track-to-gxt-development/">Fast track to GXT development</a></p>
                    <p><a href="https://www.sencha.com/services/">Customized Consulting</a></p>
                </div>
                <div class="home-bubble-badge-ct features-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> _footer}}
</div>
