<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Foo</h2>
                <div class="home-bubble-content">
                    <p>Post Idaei credetis ibat amentia spectem.</p>
                </div>
                <div class="home-bubble-badge-ct getting-started-badge product-page-badge"></div>
            </div>
        </div>
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Bar</h2>
                <div class="home-bubble-content">
                    <p>Lorem markdownum proles! Nisi foret nunc carior.</p>
                </div>
                <div class="home-bubble-badge-ct features-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> _footer}}
</div>
