<div class="generic-content">
    <div class="generic-content-inner">
        <h1>Sencha Test Documentation</h1>
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Introduction</h2>
                <p>Download and install the necessary components to get going with Sencha Touch.</p>
                <p><a href="http://www.sencha.com/products/touch/">Download Sencha Touch</a></p>
                <p><a href="http://www.sencha.com/products/sencha-cmd/">Download Sencha Cmd</a></p>
                <p><a href="./guides/getting_started/getting_started.html">Getting Started</a></p>
                <p><a href="./guides/getting_started/building_your_first_app.html">Build Your First App</a></p>
            </div>
            <div class="homeBubble">
                <h2>Components</h2>
                <p>Dig into the most common Sencha Touch components</p>
                <p><a href="./guides/components/navigation_view.html">Navigation View</a></p>
                <p><a href="./guides/components/carousel.html">Carousel</a></p>
                <p><a href="./guides/components/chart.html">Charts and Drawing</a></p>
                <p><a href="./guides/components/forms.html">Forms</a></p>
            </div>
            <div class="homeBubble">
                <h2>Sencha Cmd</h2>
                <p>Learn how Sencha Cmd compliments Sencha development</p>
                <p><a href="../../cmd/6.x/intro_to_cmd.html">Intro to Cmd</a></p>
            </div>
            <div class="homeBubble">
                <h2>Tools and Debugging</h2>
                <p>Additional tools for debugging Sencha Touch</p>
                <p><a href="http://www.sencha.com/blog/app-inspector-for-sencha-touch-and-ext-js-developers/">App Inspector for Sencha</a></p>
            </div>
        </div>
        <div class="homeColumnTwo">
            <div class="homeBubble">
                <h2>Core Concepts</h2>
                <p>Learn the core concepts of Sencha Touch</p>
                <p><a href="./guides/core_concepts/class_system.html">The Class System</a></p>
                <p><a href="./guides/core_concepts/components.html">Components</a></p>
                <p><a href="./guides/core_concepts/layouts.html">Layotus</a></p>
                <p><a href="./guides/core_concepts/data/data_package_overview.html">Data Package Overview</a></p>
                <p><a href="./guides/core_concepts/events.html">Events</a></p>
                <p><a href="./guides/core_concepts/device_profiles.html">Device Profiles</a></p>
            </div>
            <div class="homeBubble">
                <h2>Application Architecture</h2>
                <p>Build your application with MVC</p>
                <p><a href="./guides/core_concepts/about_applications.html">Intro to Applications</a></p>
                <p><a href="./guides/core_concepts/dependencies_mvc.html">MVC and Dependencies</a></p>
                <p><a href="./guides/core_concepts/data/models.html">Models</a></p>
                <p><a href="./guides/components/views.html">Views</a></p>
                <p><a href="./guides/core_concepts/controllers.html">Controllers</a></p>
            </div>
            <div class="homeBubble">
                <h2>Themes</h2>
                <p>Explore how to style your Sencha Touch application</p>
                <p><a href="./guides/components/theming.html">Theming your Touch Application</a></p>
            </div>
            <div class="homeBubble">
                <h2>Best Practices</h2>
                <p>Avoid common pitfalls and learn best practices</p>
                <p><a href="https://www.sencha.com/blog/offline-techniques-sencha-touch/">Offline Techniques and Sencha Touch</a></p>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
