<div class='generic-content'>
    <div class='generic-content-inner'>
        <div class='homeColumnOne'>
            <div class='homeBubble'>
                <h2>Getting Started</h2>
                <div class='home-bubble-content'>
                    <p>Beginning the journey with GXT</p>
                    <p><a href='https://www.sencha.com/products/gxt/download/'>Buy GXT 4.0</a></p>
                    <p><a href='./guides/getting_started/maven/Maven.html'>Maven Download</a></p>
                    <p><a href='https://support.sencha.com/index.php#dash'>Portal Download</a></p>
                    <p><a href='./guides/getting_started/Getting_Started.html'>Getting Started</a></p>
                    <p><a href='http://examples.sencha.com/gxt/4.0.2/'>Explorer Examples</a></p>
                    <p><a href='http://examples.sencha.com/gxt-edash/4.0.2'>Dashboard Example</a> | <a href='http://cdn.sencha.com/gxt/examples-src/gxt-edash-4.0.2.zip'>(war)</a></p>
                </div>
                <div class='home-bubble-badge-ct getting-started-badge product-page-badge'></div>
            </div>
            <div class='homeBubble'>
                <h2>Professional Services</h2>
                <div class='home-bubble-content'>
                    <p>Help from the professionals!</p>
                    <p><a href='http://docs-devel.sencha.com/gxt/4.x/guides/getting_started/migration/Migration2to3.html'>Upgrade from GXT 2 to GXT 3</a></p>
                    <p><a href='https://www.sencha.com/training/course/fast-track-to-gxt-development/'>Fast track to GXT development</a></p>
                    <p><a href='https://www.sencha.com/services/'>Customized Consulting</a></p>
                </div>
                <div class='home-bubble-badge-ct features-badge product-page-badge'></div>
            </div>
        </div>

        <div class='homeColumnOne'>
            <div class='homeBubble'>
                <h2>Mobile Applications</h2>
                <div class='home-bubble-content'>
                    <p>Touch Support Development</p>
                    <p><a href='./guides/getting_started/Getting_Started_with_Touch.html'>Getting Started with Touch Development</a></p>
                    <p><a href='./guides/ui/touch/Gestures.html'>The New Touch Gestures List</a></p>
                </div>
                <div class='home-bubble-badge-ct mobile-badge product-page-badge'></div>
            </div>
            <div class='homeBubble'>
                <h2>Migrating</h2>
                <div class='home-bubble-content'>
                    <p>Migrating from 3.x to 4.x</p>
                    <p><a href='./getting_started/migration/Migration3to4.html'>Migrating 3.x to 4.x</a></p>
                    <p><a href='./guides/ui/style/gss/GSS.html'>GSS closure style sheets language</a></p>
                </div>
                <div class='home-bubble-badge-ct migration-badge product-page-badge'></div>
            </div>
        </div>

        <div class='homeColumnOne'>
            <div class='homeBubble'>
                <h2>Application Theming</h2>
                <div class='home-bubble-content'>
                    <p>Styling the application and generating themes</p>
                    <p><a href='./guides/ui/theme/Themes.html'>Theme Choices</a></p>
                    <p><a href='./guides/concepts/ThemeBuilder.html'>Building Themes</a></p>
                    <p><a href='./guides/ui/theme/GeneratingThemes.html'>Generating Themes</a></p>
                </div>
                <div class='home-bubble-badge-ct theme-badge product-page-badge'></div>
            </div>
            <div class='homeBubble'>
                <h2>Developer Support</h2>
                <div class='home-bubble-content'>
                    <p>Help reach your goals sooner with GXT support</p>
                    <p><a href='./guides/support/Support.html'>Support Options</a></p>
                    <p><a href='https://www.sencha.com/store/gxt/'>Premium Support Options</a></p>
                    <p><a href='https://www.sencha.com/services/'>Customized Services, Get a bid</a></p>
                    <p><a href='https://www.sencha.com/training/course/fast-track-to-sencha-gxt-development/'>Professional On-site Training</a></p>
                </div>
                <div class='home-bubble-badge-ct support-badge product-page-badge'></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
