<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Introduction</h2>
                <div class="home-bubble-content">
                    <p>Download, install, and get started with Sencha Architect</p>
                    <p><a href="http://www.sencha.com/products/architect/">Download Architect</a></p>
                    <p><a href="./guides/getting_started/installation_setup.html">Installation and Setup</a></p>
                    <p><a href="./guides/getting_started/whats_new.html">What's New in Architect</a></p>
                    <p><a href="./guides/tutorials/example_projects.html">Example Projects</a></p>
                </div>
                <div class="home-bubble-badge-ct introduction-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Core Concepts</h2>
                <div class="home-bubble-content">
                    <p>Start learning how to build apps with Architect with these helpful walk-throughs</p>
                    <p><a href="./guides/tutorials/first_desktop_application.html">Build Your First Desktop App</a></p>
                    <p><a href="./guides/tutorials/first_mobile_application.html">Build Your First Modern App</a></p>
                    <p><a href="./guides/getting_started/developing_team_apps.html">Team Development</a></p>
                    <p><a href="./guides/extending_architect/using_user_extensions.html">App Templates and User Extensions</a></p>
                    <p><a href="./guides/saving_packaging/saving_preview_build.html">Save, Preview and Build</a></p>
                </div>
                <div class="home-bubble-badge-ct core-concepts-badge product-page-badge"></div>
            </div>
        </div>
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Themes</h2>
                <div class="home-bubble-content">
                    <p>Build themes for your Ext JS and Touch apps</p>
                    <p><a href="http://www.sencha.com/blog/re-skinning-your-apps-just-got-easier-with-sencha-architect-3/">Theming in Architect (blog)</a></p>
                    <p><a href="./guides/user_interface/application_styling.html">Application Styling</a></p>
                </div>
                <div class="home-bubble-badge-ct theme-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Resources</h2>
                <div class="home-bubble-content">
                    <p>Review the nuts and bolts of using Architect</p>
                    <p><a href="./guides/reference/keyboard_shortcuts.html">Keyboard Shortcuts</a></p>
                    <p><a href="./guides/reference/files_directories.html">Files and Directories</a></p>
                    <p><a href="./guides/reference/change_log.html">Change Log</a></p>
                </div>
                <div class="home-bubble-badge-ct resources-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> _footer}}
</div>
