<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Getting Started</h2>
                <p>Beginning the journey with GXT</p>
                <li><a href="https://www.sencha.com/products/gxt/#overview">Buy GXT 4.0</a></li>
                <li><a href="./guides/getting_started/maven/Maven.html">Maven Download</a></li>
                <li><a href="https://support.sencha.com/index.php#dash">Portal Download</a></li>
                <li><a href="./guides/getting_started/Getting_Started.html">Getting Started</a></li>
                <li><a href="http://examples.sencha.com/gxt/4.0.1">Explorer Examples</a></li>
                <li><a href="http://examples.sencha.com/gxt-edash/4.0.1">Dashboard Example</a></li>
                <li><a href="http://cdn.sencha.com/gxt/examples-src/gxt-edash-4.0.1.zip">(War)</a></li>
            </div>
            <div class="homeBubble">
                <h2>Mobile Applications</h2>
                <p>Touch Support Development</p>
                <li><a href="./guides/getting_started/Getting_Started_with_Touch.html">Getting Started with Touch Development</a></li>
                <li><a href="./guides/ui/touch/Gestures.html">The New Touch Gestures List</a></li>
            </div>
            <div class="homeBubble">
                <h2>Application Theming</h2>
                <p>Styling the application and generating themes</p>
                <li><a href="./guides/ui/theme/Themes.html">Theme Choices</a></li>
                <li><a href="./guides/concepts/ThemeBuilder.html">Building Themes</a></li>
                <li><a href="./guides/ui/theme/GeneratingThemes.html">Generating Themes</a></li>
            </div>
        </div>
        <div class="homeColumnTwo">
            <div class="homeBubble">
                <h2>Features</h2>
                <p>Notable features for application development</p>
                <li><a href="https://www.sencha.com/products/gxt/#overview">All the GXT API Features</a></li>
                <li><a href="./guides/concepts/Appearance_3.html">Working with Appearances</a></li>
                <li><a href="./guides/concepts/ChartsOverview.html">Working with Charts</a></li>
                <li><a href="./guides/concepts/Layouts.html">Working with Layouts</a></li>
            </div>
            <div class="homeBubble">
                <h2>Migrating</h2>
                <p>Migrating from 3.x to 4.x</p>
                <li><a href="./getting_started/migration/Migration3to4.html">Migrating 3.x to 4.x</a></li>
                <li><a href="./guides/ui/style/gss/GSS.html">GSS closure style sheets language</a></li>
            </div>
            <div class="homeBubble">
                <h2>Developer Support</h2>
                <p>Help reach your goals sooner with GXT support</p>
                <li><a href="./guides/support/Support.html">Support Options</a></li>
                <li><a href="https://www.sencha.com/store/gxt/">Premium Support Options</a></li>
                <li><a href="https://www.sencha.com/services/">Customized Services, Get a bid</a></li>
                <li><a href="https://www.sencha.com/training/course/fast-track-to-sencha-gxt-development/">Professional On-site Training</a></li>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
