<div class="generic-content">
    <div class="generic-content-inner">
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2><a href="./extjs/6.2.0-modern">Ext JS</a></h2>
                <div class="home-bubble-content">
                    <p>
                        <b>Modern Toolkit</b> | <a href="./extjs/6.2.0-modern/">Documentation ></a><br>
                        The modern toolkit provides HTML5 application support for all modern browsers
                        from desktop to phone. It's ideal for developers seeking a cross-browser,
                        cross-device experience.
                    </p>
                    <p>
                        <b>Classic Toolkit</b> | <a href="./extjs/6.2.0-classic/">Documentation ></a><br>
                        The classic toolkit provides traditional Ext JS application support for most desktop browsers,
                        tablets, and touchscreen enabled laptops.  It's ideal for developers seeking legacy support with
                        traditional Ext JS components.
                    </p>
                </div>
                <div class="home-bubble-badge-ct extjs-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./cmd">Cmd</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha Cmd is the cornerstone for building your Sencha
                        applications. It provides a full set of lifecycle management
                        features such as scaffolding, code minification, and production
                        build creation, to complement your Sencha projects.
                    </p>
                    <p><a href="./cmd/">Documentation ></a></p>
                    <p><a href="./cmd/guides/intro_to_cmd.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct cmd-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./ide_plugins">IDE Plugins</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha’s IDE plugins are tools that create confluence between
                        Sencha Frameworks and major IDEs. The plugins support features
                        such as code completion, and inspection, while seamlessly
                        cooperating with native IDE behaviors.
                    </p>
                    <p><a href="./ide_plugins/index.html">Documentation ></a></p>
                </div>
                <div class="home-bubble-badge-ct plugins-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./architect">Architect</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha Architect empowers your team to build HTML5 applications
                        using drag and drop features so that you spend less time on
                        manual coding, and your application code is optimized for high
                        performance.
                    </p>
                    <p><a href="./architect">Documentation ></a></p>
                    <p><a href="./architect/guides/tutorials/first_desktop_application.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct architect-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./webappmgr">Web Application Manager</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha Web Application Manager is a secure, managed environment
                        for HTML and JavaScript applications. It helps organizations to
                        simplify application deployment, maintenance and security across
                        desktops, tablets, and smart-phones.
                    </p>
                    <p><a href="./webappmgr">Documentation ></a></p>
                    <p><a href="./webappmgr/guides/developer/intro.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct space-badge"></div>
            </div>
        </div>
        <div class="homeColumnTwo">
            <div class="homeBubble">
                <h2><a href="./sencha_test">Sencha Test</a></h2>
                <div class="home-bubble-content">
                    <p>Testing your applications can now be an integral part of your
                        product lifecycle with the help of Sencha Test.  With Sencha
                        Test, you can perform cross-browser and cross-platform testing
                        using one comprehensive solution.
                    </p>
                    <p><a href="./sencha_test/">Documentation ></a></p>
                    <p><a href="./sencha_test/guides/getting_started.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct test-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./gxt/4.x">GXT</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha GXT is the most comprehensive Java framework for building
                        feature-rich web applications. It uses the GWT compiler, allowing
                        developers to write applications in Java and compile into highly
                        optimized cross-platform HTML5 code.
                    </p>
                    <p><a href="./gxt/4.x/">Documentation ></a></p>
                    <p><a href="./gxt/4.x/guides/getting_started/Getting_Started.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct gxt-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./sencha_inspector">Sencha Inspector</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha Inspector is a debugging tool that provides direct access
                        to components, classes, and more for apps built using Sencha
                        frameworks. It lets you analyze your code for issues, such as
                        over-nesting, and helps improve performance.
                    </p>
                    <p><a href="./sencha_inspector/">Documentation ></a></p>
                    <p><a href="./sencha_inspector/guides/inspecting_applications.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct inspector-badge"></div>
            </div>
            <div class="homeBubble">
                <h2><a href="./touch/2.4">Touch</a></h2>
                <div class="home-bubble-content">
                    <p>Sencha Touch is the leading MVC-based JavaScript framework for building cross-platform mobile web
                        applications. Sencha Touch leverages hardware acceleration techniques to provide high-performance
                        UI components for mobile devices.
                    </p>
                    <p><a href="./touch/2.4/">Documentation ></a></p>
                    <p><a href="./touch/2.4/guides/getting_started/getting_started.html">Get Started ></a></p>
                </div>
                <div class="home-bubble-badge-ct touch-badge"></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
