<div class="homeBubble pa0 ba b--light-gray shadow-4 relative dib bl bb b--black-10 tl">
    <h2 class="bg-dark-blue white fw3 f4 ma0 br2 br--top">{{header}}</h2>
    <div class="home-bubble-content pa3 absolute left-0 bottom-0 overflow-auto">
        {{#content}}
            {{{.}}}
        {{/content}}
    </div>
    <div class="{{badgeCtCls}} home-bubble-badge-ct product-page-badge absolute bottom-0 right-0 bg-black-10 tc bg-center">
        <i class="{{badgeCls}} dark-blue relative"></i>
    </div>
</div>