<div id="help-wrap" class="dn z-4 absolute absolute--fill overflow-hidden ba bw2 b--black-10 bg-white">
    <div class="help-header">
        Docs Help
        <div id="help-close"></div>
    </div>
    <div class="classText">
        <div class="toc">
            <h2>Contents</h2>
            {{#each helpToc}}
                <a class="toc-page-{{toLowerCase this.tag}}" href="#{{this.id}}">{{{this.name}}}</a>
            {{/each}}
        </div>
        {{{helpText}}}
    </div>
</div>
