<div class="generic-content cf absolute absolute--fill overflow-x-hidden overflow-y-auto bg-white">
    <div class="generic-content-inner tc">
        {{#bubbleWrap homeItems}}
            {{#if startWrap}}
                <div class="homeColumnOne">
            {{/if}}

            {{> _bubble}}

            {{#if endWrap}}
                </div>
            {{/if}}
        {{/bubbleWrap}}
    </div>

    {{> _footer}}
</div>
