<div class="context-menu-ct">
    <div class="context-header dn ma0 bg-dark-blue">
        <div id="hide-context-menu" class="fa fa-caret-right white f4 pointer tc"></div>
    </div>
    
    {{> _search}}

    <div id="toc-context-ct">
        <!-- context content added at runtime -->
    </div>
</div>
<div class="generic-content cf absolute absolute--fill overflow-x-hidden overflow-y-auto bg-white">
    <div class="generic-content-inner tc">
        {{#bubbleWrap homeItems}}
            {{#if startWrap}}
                <div class="homeColumnOne">
            {{/if}}

            {{> _bubble}}

            {{#if endWrap}}
                </div>
            {{/if}}
        {{/bubbleWrap}}
    </div>

    {{> _footer}}
</div>
