<div class="search">
    <form autocomplete="off">
        {{#prodVerMeta.hasToolkits}}
            <div class="toolkit-search-filter-ct">
                <span id="modern-search-filter" class="tooltip tooltip-tr-br active" data-tip="Include Modern Search Results"><div class="callout callout-b"></div></span>
                <span id="classic-search-filter" class="tooltip tooltip-tr-br active" data-tip="Include Classic Search Results"><div class="callout callout-b"></div></span>
            </div>
        {{/prodVerMeta.hasToolkits}}

        <input type="text" type="search" placeholder="search" id="searchtext">
        <i id="filtersubmit" class="fa fa-search"></i>
        <span id="help-btn" data-tip="Docs Help" class="icon-btn tooltip tooltip-tr-br"><div class="callout callout-b"></div>
            <i class="fa fa-question fa-inverse"></i>
        </span>
    </form>
</div>