<div class="search absolute ma0 fn">
    <form autocomplete="off">
        {{#prodVerMeta.hasToolkits}}
            <div class="toolkit-search-filter-ct dib v-mid mr1">
                <span id="modern-search-filter" class="tooltip tooltip-tr-br active mr0 br1 br--left white bg-dark-blue pointer tc ba b--blue pa0 dib relative" data-tip="Include Modern Search Results"><div class="callout callout-b"></div></span>
                <span id="classic-search-filter" class="tooltip tooltip-tr-br active mr0 br1 br--right white bg-dark-blue pointer tc ba b--blue pa0 dib relative" data-tip="Include Classic Search Results"><div class="callout callout-b"></div></span>
            </div>
        {{/prodVerMeta.hasToolkits}}

        <input class="br1 ba b--light-gray" type="text" type="search" placeholder="search" id="searchtext">
        <i id="filtersubmit" class="fa fa-search absolute z-1 gray right-2 mt1"></i>
        <span id="help-btn" data-tip="Docs Help" class="tooltip tooltip-tr-br relative pointer white f3 v-mid pl1 dib"><div class="callout callout-b"></div>
            <i class="fa fa-question-circle"></i>
        </span>
    </form>
</div>