$grid-body-background-color: dynamic(#E8EEF2);
$grid-row-cell-background-color: dynamic(#E8EEF2);
$grid-row-cell-over-background-color: dynamic(#F5F7F9);
$grid-row-cell-selected-background-color: dynamic(#FFFFFF);
$grid-cell-selected-color: dynamic(#D64200);
$grid-row-cell-selected-color: dynamic(#ea682e);
$grid-row-cell-focus-color: dynamic(#ea682e);
$grid-row-cell-focus-border-color: dynamic(#FFFFFF);

/*        background-color: #D8E2E8;
    border-bottom: 1px solid #BEC6CC;
    border-top: 1px solid #BEC6CC;*/