<div class="generic-content">
    <div class="generic-content-inner">
        <h1>Sencha Test Documentation</h1>
        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>What is Sencha Test?</h2>
                <div class="home-bubble-content">
                    <p>Sencha Test is a new addition to the Sencha platform that will help you create unit and end-to-end
                        functional tests quickly, and execute them on multiple browsers simultaneously.</p>
                    <p><a href="https://www.sencha.com/webinars/testing-web-applications-across-browsers-and-platforms/">Sencha Test Video Overview</a></p>
                    <p><a href="./guides/product_overview.html">Sencha Test Overview</a></p>
                    <p><a href="{{{docroot}}}sencha-test-docs.zip">Download Offline Documentation</a></p>
                    <p><a href="http://pages.sencha.com/TestBeta.html">Try it for free</a></p>
                </div>
                <div class="home-bubble-badge-ct test-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Getting Started</h2>
                <div class="home-bubble-content">
                    <p>Start here and we'll guide you through testing an application.</p>
                    <p><a href="./guides/sencha_test_installation.html">Installation and Setup</a></p>
                    <p><a href="./guides/getting_started.html">Getting Started</a></p>
                    <p><a href="./guides/testing_existing_apps.html">Testing Existing Applications</a></p>
                    <p><a href="./guides/testing_applications.html">Testing New Applications</a></p>
                </div>
                <div class="home-bubble-badge-ct getting-started-badge product-page-badge"></div>
            </div>
        </div>

        <div class="homeColumnOne">
            <div class="homeBubble">
                <h2>Test Resources</h2>
                <div class="home-bubble-content">
                    <p>Helpful resources to get up and running with Sencha Test!</p>
                    <p><a href="./guides/test_projects_scenarios_suites.html">Projects, Scenarios, and Suites</a></p>
                    <p><a href="./guides/unit_functional_tests.html">Unit vs Functional Testing</a></p>
                    <p><a href="./guides/test_projects_scenarios_suites.html">Test Compositions</a></p>
                    <p><a href="./guides/command_line_archive_server.html">CLI and the Archive Server</a></p>
                </div>
                <div class="home-bubble-badge-ct resources-badge product-page-badge"></div>
            </div>
            <div class="homeBubble">
                <h2>Walkthroughs</h2>
                <div class="home-bubble-content">
                    <p>Follow along with our guides and expert Sencha developers to test your applications, old or new!</p>
                    <p><a href="https://github.com/sencha/senchatestdemo">Example workspaces demonstrating Sencha Test</a></p>
                </div>
                <div class="home-bubble-badge-ct walkthrough-badge product-page-badge"></div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
