<div class="context-menu-ct">
    <div class="context-header">
        <div id="hide-context-menu" class="fa fa-caret-right"></div>
    </div>
    <div class="search">
        <form autocomplete="off">
            <input type="text" type="search" placeholder="search" id="searchtext">
            <i id="filtersubmit" class="fa fa-search"></i>
            <span id="help-btn"></span>
        </form>
    </div>
    <span id="help-btn"></span>
    <div id="toc-context-ct">
        <!-- context content added at runtime -->
    </div>
</div>
<div class="guide-body-wrap">
    <div class="body-wrap-inner">
        <div class="classText">
            <div id="toggleExamples" class="fa fa-code" data-expand="Expand All Examples" data-collapse="Collapse All Examples"><div></div></div>
            {{#if toc}}
                <div class="toc">
                    <h2>Contents</h2>
                    {{#each toc}}
                        <a class="toc-page-{{toLowerCase this.tag}}" href="#{{this.id}}">{{{this.name}}}</a>
                    {{/each}}
                </div>
            {{/if}}
            {{{content}}}
        </div>
    </div>
    {{> footer}}
</div>
