<div class="guide-body-wrap">
    <div class="classText">
        {{#if toc}}
            <div class="toc">
                Contents
                {{#each toc}}
                    <a class="toc-page-{{toLowerCase this.tag}}" href="#{{this.id}}">{{this.name}}</a>
                {{/each}}
            </div>
        {{/if}}
        {{{content}}}
    </div>
</div>
