<div id="help-wrap">
    <div id="help-close"></div>
    <div class="classText">
        <div class="toc">
            <h2>Contents</h2>
            {{#each helpToc}}
                <a class="toc-page-{{toLowerCase this.tag}}" href="#{{this.id}}">{{{this.name}}}</a>
            {{/each}}
        </div>
        {{{helpText}}}
    </div>
</div>
