{{#if apiJson}}
    {{#each apiJson}}{{> treeNodePartial}}{{/each}}
{{else}}
    <div id="toolkit-tab-ct">
        <div id="modernTab" class="active-tab">modern</div>
        <div id="classicTab">classic</div>
    </div>

    <div id="toolkit-tree-ct">
        <div id="modernTree" class="is-tree">
            {{#each modernJson}}{{> treeNodePartial}}{{/each}}
        </div>

        <div id="classicTree" class="is-tree hide">
            {{#each classicJson}}{{> treeNodePartial}}{{/each}}
        </div>
    </div>
{{/if}}
<div class="fa fa-plus toggle-tree hide tooltip tooltip-tr-br" data-expand="Expand All Classes" data-collapse="Collapse All Classes"><div class="callout callout-b"></div></div>